<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>게시글 리스트 페이지</title>
</head>

<style>

  .layout {
    width : 600px;
    margin : 0 auto;
    margin-top : 40px;
  }

</style>

<body>

<div class="layout">
  <h1 style="text-align: center"> 게시판 예제 </h1>
  <hr>
  <table style="width:100%">
    <thead style="background-color: aliceblue">
    <tr>
      <th style="text-align: center; width:15%">글번호</th>
      <th style="text-align: center">제목</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${list}">
      <td style="text-align: center" th:text="${board.id}"> </td>
      <td>
        <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
      </td>
    </tr>
    </tbody>
  </table>
  <hr>

  <div style="text-align: center">
    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
      <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
      <strong th:if="${page == nowPage}" th:text="${page}"></strong>
    </th:block>
  </div>

  <div style="text-align: center">
    <form th:action="@{/board/list}" method="get">
    <input type="text" name="searchKeyword">
    <button type="submit">검색</button>
    </form>
  </div>

  <div style="text-align: right">
    <button type="button"> <a href="/board/write"> 글 작성 </a> </button>
  </div>

</div>

<footer class="layout">
  <hr>
  <h6 style="color: gray; text-align: center">Copyright© 2022 All rights reserved. OH WON JUN, owj512@naver.com</h6>
</footer>

</body>
</html>